@* indicates that the view excepts a list of project objects as its model *@
@using comp2139.Models
@model List<Project>

@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<a asp-action="Create" class="btn btn-primary">Create New Project</a>
@if (Model.Any())
{
    //iteration
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
                <!-- Any other projects fields you desire-->
            </tr>
        </thead>
        
        <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.ProjectId</td>
                <td>@project.Name</td>
                <td>@project.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@project.ProjectId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@project.ProjectId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@project.ProjectId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
        
    </table>
}
else
{
    <p>No projects available</p>
}    
